header {
    background-color: 7EDA99;
    width: 100%;
    height: 100px;
}

a {
    text-decoration:none;
    background-color: white;
    margin: 30px;
    padding: 30px;
    border: solid 1px black;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
}

nav {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
    color: brown;
}


main {
    background-color: beige;
    width: 100%;
    height: 100%;
    margin: 15px;
    border: solid 3px black;
    padding: 30px;
}

footer {
    background-color: olive;
    width: 100%;
    height: 100px;
}

footer {
    background-image: radial-gradient(circle closest-side, green 0%, purple 20%, orange 100%);
}

p {
    color:red
}
h2 {
    color:green
}
h4 {
    color:blue
}

img {
    height: 250px;
}